Source: openmediavault-openvpn
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-openvpn
Architecture: all
Depends: openmediavault (>= 0.6), openvpn, ${misc:Depends}
Description: OpenVPN plugin for OpenMediaVault.
